<!--List of operations-->

<div id="list">
    <div class="row mb-0" id="listfilters" style="border-bottom: 1px solid #e5e5e5; padding-bottom: 15px;">
        <div class="col-sm-6">
            <div class="col-4">
                687 results - selected (0)
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#generatereport"><i
                    class="fas fa-upload"></i> Publish Reports</button>
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#generatereport"><i
                    class="fas fa-download"></i> Export table</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 headerlist row table-title">
            <div class="col-1"> <input type="checkbox" id="checkall" /></div>
            <div class="col-1">Operation</div>
            <div class="col-4">Name</div>
            <div class="col-2">Report ID</div>
            <div class="col-2">Disclosure Date</div>
            <div class="col-1 paddingright0">Status</div>
            <div class="col-1 text-center">Actions</div>
        </div>
        <div class="col-sm-12 accordion" id="listOperation">
            <!--Add a div "card"for each operation: to do a loop-->
            <div class="card  marginTable">
                <div class="card-header" id="card3">
                    <div class="row margin0">
                        <div class="col-sm-1 d-flex boxes">
                            <div><input type="checkbox" name="opc" id="opc3" class="checkbox" /></div>
                            <div class="text-right col-sm-12"><a data-toggle="collapse" href="#op3" role="button"><i
                                        id="iconOpc3" class="fas fa-chevron-right rotateIcon"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-1 boxes"> <a data-toggle="collapse" href="#op3" role="button">AR-G1017</a>
                        </div>
                        <div class="col-sm-4 boxes">Norte Grande Roads Infraestructure</div>
                        <div class="col-sm-2 boxes"><a href="#">EZSHARE-1916510350-38</a></div>
                        <div class="col-sm-2 boxes">15 Sept 2019</div>
                        <div class="col-sm-1 paddingright0 boxes">Generated</div>
                        <div class="col-sm-1 boxe text-center">
                            <div class="dropdown ">
                                <a href="#" class="ellipsis" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-primary" style="width: 18rem; margin-left: -15em;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"> <a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank"><i class="fas fa-eye"></i>&nbsp;&nbsp;View base
                                                report</a></li>
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank"><i class="fas fa-eye"></i>&nbsp;&nbsp;View generated
                                                report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#disclosereport1"><i
                                                    class="fas fa-external-link-alt"></i>&nbsp;&nbsp; Disclose
                                                report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#reportslog"><i
                                                    class="fas fa-history"></i>&nbsp;&nbsp; Historic
                                                reports</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="op3" class="collapse" aria-labelledby="headingOne" data-parent="#listOperation">
                    <div class="card-body row">
                        <div class="col-sm-4">
                            <strong>Operation type:</strong> LON<br>
                            <strong>Country:</strong> Argentina<br>
                            <strong>Country Department:</strong> Andean Group
                        </div>

                        <div class="col-sm-4">
                            <strong>Modality:</strong> LBR (Loan Based on results)<br>
                            <strong>Division:</strong> CSD/RND<br>
                            <strong>Sector Department: </strong>CSD
                        </div>
                        <div class="col-sm-4">
                            <strong>PMR Validation Stage:</strong> Completed by Team Leader<br>
                            <strong>Operation role in PMR relationship:</strong> Parent<br>
                            <strong>Related Operations:</strong> <a href="#">AR-1092 </a>, <a href="#">AR-1091</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="card4">
                    <div class="row margin0">
                        <div class="col-sm-1 d-flex boxes">
                            <div><input type="checkbox" name="opc" id="opc4" class="checkbox" /></div>
                            <div class="text-right col-sm-12"><a data-toggle="collapse" href="#op4" role="button"><i
                                        class="fas fa-chevron-right rotateIcon"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-1 boxes"> <a data-toggle="collapse" href="#op4" role="button">AR-L1045</a>
                        </div>
                        <div class="col-sm-4 boxes">Institutions for Development / Competitiveness</div>
                        <div class="col-sm-2 boxes"></div>
                        <div class="col-sm-2 boxes"></div>
                        <div class="col-sm-1 paddingright0 boxes">Pending generation</div>
                        <div class="col-sm-1 boxes text-center">
                            <div class="dropdown">
                                <a href="#" class="ellipsis" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-primary" style="width: 18rem; margin-left: -15em;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="#" data-toggle="modal"
                                                data-target="#generatereport1">Generate report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#manuallyupload">Manual
                                                upload</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#reportslog">Historic
                                                reports</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="op4" class="collapse" aria-labelledby="headingOne" data-parent="#listOperation">
                    <div class="card-body row">
                        <div class="col-sm-4">
                            <strong>Operation type:</strong> LON<br>
                            <strong>Country:</strong> Argentina<br>
                            <strong>Country Department:</strong> Andean Group
                        </div>

                        <div class="col-sm-4">
                            <strong>Modality:</strong> LBR (Loan Based on results)<br>
                            <strong>Division:</strong> CSD/RND<br>
                            <strong>Sector Department: </strong>CSD
                        </div>
                        <div class="col-sm-4">
                            <strong>PMR Validation Stage:</strong> Completed by Team Leader<br>
                            <strong>Operation role in PMR relationship:</strong> Parent<br>
                            <strong>Related Operations:</strong> <a href="#">AR-1092 </a>, <a href="#">AR-1091</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="card5">
                    <div class="row margin0">
                        <div class="col-sm-1 d-flex boxes">
                            <div><input type="checkbox" name="opc" id="opc5" class="checkbox" /></div>
                            <div class="text-right col-sm-12"><a data-toggle="collapse" href="#op5" role="button"><i
                                        class="fas fa-chevron-right rotateIcon"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-1 boxes"> <a data-toggle="collapse" href="#op5" role="button">AR-G1078</a>
                        </div>
                        <div class="col-sm-4 boxes">Norte Grande Roads Infraestructure</div>
                        <div class="col-sm-2 boxes"><a href="#">EZSHARE-1916510350-38</a></div>
                        <div class="col-sm-2 boxes">15 Sept 2019</div>
                        <div class="col-sm-1 paddingright0 boxes">Generated</div>
                        <div class="col-sm-1 boxes text-center">
                            <div class="dropdown">
                                <a href="#" class="ellipsis" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-primary" style="width: 18rem; margin-left: -15em;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"> <a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View base report</a></li>
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View generated report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal"
                                                href="#disclosereport1">Disclose report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#reportslog">Historic
                                                reports</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="op5" class="collapse" aria-labelledby="headingOne" data-parent="#listOperation">
                    <div class="card-body row">
                        <div class="col-sm-4">
                            <strong>Operation type:</strong> LON<br>
                            <strong>Country:</strong> Argentina<br>
                            <strong>Country Department:</strong> Andean Group
                        </div>

                        <div class="col-sm-4">
                            <strong>Modality:</strong> LBR (Loan Based on results)<br>
                            <strong>Division:</strong> CSD/RND<br>
                            <strong>Sector Department: </strong>CSD
                        </div>
                        <div class="col-sm-4">
                            <strong>PMR Validation Stage:</strong> Completed by Team Leader<br>
                            <strong>Operation role in PMR relationship:</strong> Parent<br>
                            <strong>Related Operations:</strong> <a href="#">AR-1092 </a>, <a href="#">AR-1091</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="card6">
                    <div class="row margin0">
                        <div class="col-sm-1 d-flex boxes">
                            <div><input type="checkbox" name="opc" id="opc6" class="checkbox" /></div>
                            <div class="text-right col-sm-12"><a data-toggle="collapse" href="#op6" role="button"><i
                                        class="fas fa-chevron-right rotateIcon"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-1 boxes"> <a data-toggle="collapse" href="#op6" role="button">AR-G1005</a>
                        </div>
                        <div class="col-sm-4 boxes">Institutions for Development / Competitiveness</div>
                        <div class="col-sm-2 boxes"><a href="#">EZSHARE-1916510350-38</a></div>
                        <div class="col-sm-2 boxes">15 Sept 2019</div>
                        <div class="col-sm-1 paddingright0 boxes">Disclosed</div>
                        <div class="col-sm-1 boxes text-center">
                            <div class="dropdown">
                                <a href="#" class="ellipsis" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-primary" style="margin-left: -15em;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View base report</a></li>
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View generated report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#reportslog">Historic
                                                reports</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="op6" class="collapse" aria-labelledby="headingOne" data-parent="#listOperation">
                    <div class="card-body row">
                        <div class="col-sm-4">
                            <strong>Operation type:</strong> LON<br>
                            <strong>Country:</strong> Argentina<br>
                            <strong>Country Department:</strong> Andean Group
                        </div>

                        <div class="col-sm-4">
                            <strong>Modality:</strong> LBR (Loan Based on results)<br>
                            <strong>Division:</strong> CSD/RND<br>
                            <strong>Sector Department: </strong>CSD
                        </div>
                        <div class="col-sm-4">
                            <strong>PMR Validation Stage:</strong> Completed by Team Leader<br>
                            <strong>Operation role in PMR relationship:</strong> Parent<br>
                            <strong>Related Operations:</strong> <a href="#">AR-1092 </a>, <a href="#">AR-1091</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="card7">
                    <div class="row margin0">
                        <div class="col-sm-1 d-flex boxes">
                            <div><input type="checkbox" name="opc" id="opc7" class="checkbox" /></div>
                            <div class="text-right col-sm-12"><a data-toggle="collapse" href="#op7" role="button"><i
                                        class="fas fa-chevron-right rotateIcon"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-1 boxes"> <a data-toggle="collapse" href="#op7" role="button">AR-L1312</a>
                        </div>
                        <div class="col-sm-4 boxes">Norte Grande Roads Infraestructure</div>
                        <div class="col-sm-2 boxes"><a href="#">EZSHARE-1916510350-38</a></div>
                        <div class="col-sm-2 boxes">15 Sept 2019</div>
                        <div class="col-sm-1 paddingright0 boxes">Disclosed</div>
                        <div class="col-sm-1 boxes text-center">
                            <div class="dropdown">
                                <a href="#" class="ellipsis" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-primary" style="width: 18rem; margin-left: -15em;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View base report</a></li>
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View generated report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#reportslog">Historic
                                                reports</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="op7" class="collapse" aria-labelledby="headingOne" data-parent="#listOperation">
                    <div class="card-body row">
                        <div class="col-sm-4">
                            <strong>Operation type:</strong> LON<br>
                            <strong>Country:</strong> Argentina<br>
                            <strong>Country Department:</strong> Andean Group
                        </div>

                        <div class="col-sm-4">
                            <strong>Modality:</strong> LBR (Loan Based on results)<br>
                            <strong>Division:</strong> CSD/RND<br>
                            <strong>Sector Department: </strong>CSD
                        </div>
                        <div class="col-sm-4">
                            <strong>PMR Validation Stage:</strong> Completed by Team Leader<br>
                            <strong>Operation role in PMR relationship:</strong> Parent<br>
                            <strong>Related Operations:</strong> <a href="#">AR-1092 </a>, <a href="#">AR-1091</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="card8">
                    <div class="row margin0">
                        <div class="col-sm-1 d-flex boxes">
                            <div><input type="checkbox" name="opc" id="opc8" class="checkbox" /></div>
                            <div class="text-right col-sm-12"><a data-toggle="collapse" href="#op8" role="button"><i
                                        class="fas fa-chevron-right rotateIcon"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-1 boxes"> <a data-toggle="collapse" href="#op8" role="button">AR-G1411</a>
                        </div>
                        <div class="col-sm-4 boxes">Institutions for Development / Competitiveness</div>
                        <div class="col-sm-2 boxes"><a href="#">EZSHARE-1916510350-38</a></div>
                        <div class="col-sm-2 boxes">15 Sept 2019</div>
                        <div class="col-sm-1 paddingright0 boxes">Disclosed</div>
                        <div class="col-sm-1 boxes text-center">
                            <div class="dropdown">
                                <a href="#" class="ellipsis" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-primary" style="width: 18rem; margin-left: -15em;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View base report</a></li>
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View generated report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#reportslog">Historic
                                                reports</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="op8" class="collapse" aria-labelledby="headingOne" data-parent="#listOperation">
                    <div class="card-body row">
                        <div class="col-sm-4">
                            <strong>Operation type:</strong> LON<br>
                            <strong>Country:</strong> Argentina<br>
                            <strong>Country Department:</strong> Andean Group
                        </div>

                        <div class="col-sm-4">
                            <strong>Modality:</strong> LBR (Loan Based on results)<br>
                            <strong>Division:</strong> CSD/RND<br>
                            <strong>Sector Department: </strong>CSD
                        </div>
                        <div class="col-sm-4">
                            <strong>PMR Validation Stage:</strong> Completed by Team Leader<br>
                            <strong>Operation role in PMR relationship:</strong> Parent<br>
                            <strong>Related Operations:</strong> <a href="#">AR-1092 </a>, <a href="#">AR-1091</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="card9">
                    <div class="row margin0">
                        <div class="col-sm-1 d-flex boxes">
                            <div><input type="checkbox" name="opc" id="opc9" class="checkbox" /></div>
                            <div class="text-right col-sm-12"><a data-toggle="collapse" href="#op9" role="button"><i
                                        class="fas fa-chevron-right rotateIcon"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-1 boxes"> <a data-toggle="collapse" href="#op9" role="button">AR-L1046</a>
                        </div>
                        <div class="col-sm-4 boxes">Norte Grande Roads Infraestructure</div>
                        <div class="col-sm-2 boxes"></div>
                        <div class="col-sm-2 boxes"></div>
                        <div class="col-sm-1 paddingright0 boxes">Pending Generation
                        </div>
                        <div class="col-sm-1 boxes text-center">
                            <div class="dropdown">
                                <a href="#" class="ellipsis" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-primary" style="width: 18rem; margin-left: -15em;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="#" data-toggle="modal"
                                                data-target="#generatereport1">Generate report</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#manuallyupload">Manual
                                                upload</a></li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#reportslog">Historic
                                                reports</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="op9" class="collapse" aria-labelledby="headingOne" data-parent="#listOperation">
                    <div class="card-body row">
                        <div class="col-sm-4">
                            <strong>Operation type:</strong> LON<br>
                            <strong>Country:</strong> Argentina<br>
                            <strong>Country Department:</strong> Andean Group
                        </div>

                        <div class="col-sm-4">
                            <strong>Modality:</strong> LBR (Loan Based on results)<br>
                            <strong>Division:</strong> CSD/RND<br>
                            <strong>Sector Department: </strong>CSD
                        </div>
                        <div class="col-sm-4">
                            <strong>PMR Validation Stage:</strong> Completed by Team Leader<br>
                            <strong>Operation role in PMR relationship:</strong> Parent<br>
                            <strong>Related Operations:</strong> <a href="#">AR-1092 </a>, <a href="#">AR-1091</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="card10">
                    <div class="row margin0">
                        <div class="col-sm-1 d-flex boxes">
                            <div><input type="checkbox" name="opc" id="opc10" class="checkbox" /></div>
                            <div class="text-right col-12"><a data-toggle="collapse" href="#op10" role="button"><i
                                        class="fas fa-chevron-right rotateIcon"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-1 boxes"> <a data-toggle="collapse" href="#op10" role="button">CO-L1180</a>
                        </div>
                        <div class="col-sm-4 boxes">Institutions for Development / Competitiveness ...</div>
                        <div class="col-sm-2 boxes"></div>
                        <div class="col-sm-2 boxes"></div>
                        <div class="col-sm-1 paddingright0 boxes">Generated (with Error)</div>
                        <div class="col-sm-1 boxes text-center">
                            <div class="dropdown">
                                <a href="#" class="ellipsis" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-primary" style="width: 18rem; margin-left: -15em;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View base report</a></li>
                                        <li class="list-group-item"><a href="http://c1670017.ferozo.com/report.pdf"
                                                target="_blank">View generated report</a>
                                        </li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#errorlog">View
                                                error log</a>
                                        </li>
                                        <li class="list-group-item"><a data-toggle="modal" href="#reportslog">Historic
                                                reports</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="op10" class="collapse" aria-labelledby="headingOne" data-parent="#listOperation">
                    <div class="card-body row">
                        <div class="col">
                            <strong>Operation type:</strong> LON<br>
                            <strong>Country:</strong> Colombia<br>
                            <strong>Country Department:</strong> Andean Group
                        </div>

                        <div class="col">
                            <strong>Modality:</strong> LBR (Loan Based on results)<br>
                            <strong>Division:</strong> CSD/RND<br>
                            <strong>Sector Department: </strong>CSD
                        </div>
                        <div class="col">
                            <strong>PMR Validation Stage:</strong> Completed by Team Leader<br>
                            <strong>Operation role in PMR relationship:</strong> Parent<br>
                            <strong>Related Operations:</strong> <a href="#">AR-1092 </a>, <a href="#">AR-1091</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
