<div #container>
    <bid-header
        [title]="'PPR_UPLOADPAGE_HEADERTITLE'"
        [text]="'PPR_UPLOADPAGE_HEADERTEXT'"
        [link]="'#'"
    ></bid-header>
    <bid-select-language
        [selected]="selectedLanguage"
        [languages]="languages"
        [readonly]="readonly"
        (langSelect)="selectedLanguage = $event"
    ></bid-select-language>
    <bid-document-viewer
        [documentCollection]="temporalDocuments$"
        [documentRestriction]="documentRestriction"
        [formatDate]="documentFormatDate"
        [limit]="documentLimit"
        [readonly]="readonly"
    ></bid-document-viewer>
    <!-- DISTRIBUTION LIST -->
    <bid-distribution-list-section></bid-distribution-list-section>
    <!-- DISTRIBUTION LIST -->
    <bid-phase-history
        *ngIf="phaseData.length > 0"
        [phaseData]="phaseData"
        [addActive]="active"
        (closed)="active = $event"
    ></bid-phase-history>
    <!-- COMPONENT FOOTER ACTIONS  -->
    <footer class="bid-actions-footer" *ngIf="!readonly">
        <div class="bid-actions-footer__wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-end">
                            <button
                                class="btn btn-secondary t-margin-right-xxlarge"
                                (click)="openDeleteModal = true"
                                *ngIf="deletePermission"
                            >
                                {{ 'PPR_UPLOADPACKAGE_DELETE' | translate }}
                            </button>
                            <button
                                class="btn btn-footer"
                                (click)="opened = true"
                                [disabled]="
                                    !selectedLanguage.length ||
                                    (temporalDocuments$ | async)?.length === 0
                                "
                            >
                                {{ 'PPR_UPLOADPACKAGE_SUBMIT' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- COMPONENT FOOTER ACTIONS  -->
<bid-modal-confirm
    [opened]="openDeleteModal"
    [title]="'Delete template'"
    [confirm]="'Delete template'"
    (closed)="deleteTemplate($event)"
    [delete]="true"
></bid-modal-confirm>
<bid-modal-confirm
    [opened]="opened"
    (closed)="onCloseConfirm($event)"
></bid-modal-confirm>
