<div class="row">
    <div class="col-12">
        <h2>Buttons</h2>
    </div>
    <div class="col-12">
        <h2 class="lead">Enabled buttons</h2>
    </div>
    <div class="col-12 my-3">
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-secondary">secondary</button>
        <button class="btn btn-success">success</button>
        <button class="btn btn-info">info</button>
        <button class="btn btn-warning">warning</button>
        <button class="btn btn-danger">danger</button>
        <button class="btn btn-dark">dark</button>
        <button class="btn btn-light">light</button>
        <button class="btn btn-link">link</button>
    </div>
    <div class="col-12">
        <h2 class="lead">Disabled buttons</h2>
    </div>
    <div class="col-12 my-3">
        <button class="btn disabled btn-primary">primary</button>
        <button class="btn disabled btn-secondary">secondary</button>
        <button class="btn disabled btn-success">success</button>
        <button class="btn disabled btn-info">info</button>
        <button class="btn disabled btn-warning">warning</button>
        <button class="btn disabled btn-danger">danger</button>
        <button class="btn disabled btn-dark">dark</button>
        <button class="btn disabled btn-light">light</button>
        <button class="btn disabled btn-link">link</button>
    </div>
</div>
