<bid-header
    [title]="headerTitle"
    [text]="headerText"
    [link]="headerLink"
></bid-header>

<bid-circulation-page></bid-circulation-page>

<bid-circulation-distributed-page></bid-circulation-distributed-page>

<bid-return-history></bid-return-history>

<!-- COMPONENT FOOTER ACTIONS  -->
<footer class="bid-actions-footer">
    <div class="bid-actions-footer__wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <button
                            class="btn btn-link"
                        >
                            {{'PPR_DISTRIBUTEMEETING_BTNWITHDRAW' | translate}}
                        </button>
                        <button
                            class="btn btn-secondary t-margin-right-xxlarge"
                        >
                            {{'PPR_DISTRIBUTEMEETING_BTNRETURN' | translate}}
                        </button>
                        <button
                            class="btn btn-primary"
                        >
                            {{'PPR_DISTRIBUTEMEETING_BTNSUBMIT' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- COMPONENT FOOTER ACTIONS  -->
