<kendo-card class="k-card--document" *ngIf="documentItem">
    <div *ngFor="let item of deletedItems$ | async"></div>
    <kendo-dropdownbutton
        *ngIf="!readonly"
        [data]="itemMenu"
        [textField]="'actionName' | translate"
        [popupSettings]="{ align: 'right', popupClass: popupClass }"
    >
        <i class="fas fa-ellipsis-h"></i>
    </kendo-dropdownbutton>
    <kendo-card-header>
        <figure class="ic-sprites pdf"></figure>
        <div class="card-header-info">
            <span class="card-label">{{
                'PPR_UPLOADDOCUMENT_ITEMID' | translate
            }}</span>
            <a
                href="#"
                class="card-ref"
                (click)="downloadAction(documentItem.tempName, $event)"
                >{{
                    documentItem.uuid
                        ? documentItem.uuid
                        : documentItem.tempUuid
                }}</a
            >
        </div>
    </kendo-card-header>
    <kendo-card-body>
        <div class="k-hbox">
            <div class="k-column k-text-left">
                <span class="card-label">{{
                    'PPR_UPLOADDOCUMENT_ITEMNAME' | translate
                }}</span>
                <p>{{ documentItem.name || '-' }}</p>
            </div>
        </div>

        <div class="k-hbox">
            <div class="k-column k-text-left">
                <span class="card-label">{{ 'TYPE' | translate }}</span>
                <p class="txt txt--bold t-margin-bottom-none">
                    {{ documentItem.type }}
                </p>
            </div>
            <div class="k-column k-text-left">
                <span class="card-label">{{
                    'VERSION' | translate | uppercase
                }}</span>
                <p class="txt txt--bold t-margin-bottom-none">
                    {{ documentItem.version }}
                </p>
            </div>
        </div>
    </kendo-card-body>
    <kendo-card-footer>
        <div class="k-hbox">
            <div class="k-column k-text-left">
                <span class="card-label">{{ 'USER' | translate }}</span>
                <p class="txt t-margin-bottom-none">
                    {{ documentItem.user?.name }}
                </p>
            </div>
            <div class="k-column k-text-left">
                <span class="card-label">{{ 'UPLOADEDON' | translate }}</span>
                <p class="txt t-margin-bottom-none">
                    {{ documentItem.uploadedOn | date: formatDate }}
                </p>
            </div>
        </div>
    </kendo-card-footer>
</kendo-card>
