<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="panelbar-wrapper">
                <kendo-panelbar>
                    <kendo-panelbar-item
                        title="{{
                            'PPR_DISTRIBUTIONLIST_HEADERTITLE' | translate
                        }}"
                        expanded="true"
                    >
                        <ng-template kendoPanelBarContent>
                            <div class="row">
                                <div class="col-12">
                                    <p class="t-margin-bottom-xlarge">
                                        {{
                                            'PPR_DISTRIBUTIONLIST_SECTIONTEXT'
                                                | translate
                                        }}
                                    </p>

                                    <button
                                        class="btn btn-sm btn-secondary t-margin-bottom-jumbo"
                                        (click)="toDistributionList()"
                                    >
                                        {{
                                            'PPR_HEADER_BTNDISTRIBUTIONLIST'
                                                | translate
                                        }}
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-panelbar-item>
                </kendo-panelbar>
            </div>
        </div>
    </div>
</section>
