<kendo-dialog
    title="{{ 'PPR_UPLOADPACKAGE_CONFIRMTITLE' | translate }}"
    *ngIf="opened"
    (close)="close(false)"
    [minWidth]="250"
    [width]="840"
    [minHeight]="340"
>
    <p>
        <strong class="font-weight-bold">{{
            'PPR_UPLOADPACKAGE_CONFIRMTEXT1' | translate: paramTrans
        }}</strong>
    </p>
    <p>
        {{ 'PPR_UPLOADPACKAGE_CONFIRMTEXT2' | translate }}
    </p>
    <kendo-dialog-actions layout="normal">
        <button kendoButton (click)="close(false)" class="btn btn-link">
            {{ 'CANCEL' | translate }}
        </button>
        <button kendoButton (click)="close(true)" primary="true">
            {{ 'PPR_UPLOADPACKAGE_CONFIRMBTN' | translate }}
        </button>
    </kendo-dialog-actions>
</kendo-dialog>
