<div class="row mb-3" style="border-bottom: 1px solid #e5e5e5;">
    <div class="col">
        <h1>Style Guide</h1>
    </div>
</div>
<div class="row" style="border-bottom: 1px solid #e5e5e5;">
    <div class="col">
        <h2 class="lead">Headdings</h2>
        <div class="h1">H1: PMR Public Report</div>
        <div class="h2">H2: PMR Public Report</div>
        <div class="h3">H3: PMR Public Report</div>
        <div class="h4">H4: PMR Public Report</div>
        <div class="h5">H5: PMR Public Report</div>
        <div class="h6">H6: PMR Public Report</div>
    </div>
</div>
