<div *ngIf="embedded" class="bid-convergencia-heading-simulation">
    <span
        class="d-block h2 font-weright-bold t-padding-top-xxlarge t-padding-left-normal text-danger"
        >BID CONVERGENCIA</span
    >
</div>
<div class="d-flex">
    <div
        *ngIf="embedded"
        style="width: 240px;max-width: 240px; background: repeating-linear-gradient( 45deg, #dcdcdc 0 10px, #fefefe 10px 20px);"
    ></div>
    <div class="bid-body-embedded">
        <header>
            <nav
                class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap t-padding-y-medium px-4 shadow"
            >
                <a class="navbar-brand col mr-0" routerLink="/home"
                    >BID SG - Show Case</a
                >
                <label class="t-margin-bottom-none">
                    <span class="text-white small">Embedded: </span>
                    <kendo-switch
                        [(ngModel)]="embedded"
                        (click)="switch()"
                    ></kendo-switch>
                </label>
            </nav>
        </header>
        <kendo-drawer-container>
            <kendo-drawer #drawer [mode]="'push'" [(expanded)]="expanded">
                <ng-template kendoDrawerTemplate>
                    <div class="t-padding-top-outsize">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    routerLink="/home"
                                    routerLinkActive="active"
                                >
                                    <i class="fad fa-home"></i>&nbsp; Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                        <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
                        >
                            <span>Components</span>
                        </h6>
                        <ul class="nav flex-column">
                            <li
                                class="nav-item"
                                *ngFor="
                                    let item of componentsItems;
                                    let i = index
                                "
                            >
                                <a
                                    class="nav-link"
                                    [routerLink]="item.path"
                                    routerLinkActive="active"
                                >
                                    <i [ngClass]="item.icon"></i>&nbsp;
                                    {{ item.name }}
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                        <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
                        >
                            <span>Pages</span>
                        </h6>
                        <ul class="nav flex-column">
                            <li
                                class="nav-item"
                                *ngFor="let item of pageItems; let i = index"
                            >
                                <a
                                    class="nav-link"
                                    [routerLink]="item.path"
                                    routerLinkActive="active"
                                >
                                    <i [ngClass]="item.icon"></i>&nbsp;
                                    {{ item.name }}
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </kendo-drawer>
            <kendo-drawer-content
                [ngClass]="{ 'k-drawer-content--closed': !expanded }"
            >
                <main
                    role="main"
                    class="col px-4 min-vh-100 t-padding-top-outsize bid-main-section"
                >
                    <button
                        class="btn btn-secondary btn-drawer-toggler"
                        (click)="drawer.toggle()"
                        aria-label="toggle menu"
                    >
                        <i
                            class="far"
                            [ngClass]="{
                                'fa-chevron-left': expanded,
                                'fa-chevron-right': !expanded
                            }"
                        ></i>
                    </button>
                    <router-outlet></router-outlet>
                </main>
            </kendo-drawer-content>
        </kendo-drawer-container>
        <footer></footer>
    </div>
</div>
