<!-- BACK -->
<section class="container-fluid" *ngIf="back">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-start">
                <a (click)="goBack()"
                    ><button
                        class="btn btn-sm btn-tertiary t-padding-right-xxxlarge"
                    >
                        <i class="far fa-arrow-left t-margin-right-xxlarge"></i>
                        {{ 'BACK' | translate }}
                    </button></a
                >
            </div>
        </div>
    </div>
</section>
<!-- BACK -->

<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="t-padding-top-xxxlarge t-padding-bottom-small">
                <h1 class="h1">{{ title | translate }}</h1>
                <p class="txt--large">
                    {{ text | translate }}
                </p>
                <a
                    href="{{ link }}"
                    alt=""
                    *ngIf="!back"
                    class="bid-how-to-link"
                >
                    <span
                        class="far fa-lightbulb pr-2 bid-how-to-link__icon"
                    ></span>
                    <span
                        class="txt--small font-weight-bold d-inline-block bid-how-to-link__label"
                        >HOW-TO LINK</span
                    >
                </a>
            </div>
        </div>
    </div>
</section>
