<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="k-panelbar k-panelbar--no-collapse">
                <div class="k-item">
                    <div class="k-header k-link">
                        <span class="k-header-title">CIRCULATION PERIOD INFORMATION</span>
                        <a href="#" title="Edit information" class="k-header-edit">
                            <i class="far fa-pen k-header-icon"></i>
                            <span class="k-header-edit-text">Edit information</span>
                        </a>
                    </div>
                    <div class="k-content">
                        <!-- <div class="d-flex align-items-center justify-content-between k-content__row"> -->
                        <div class="container-fluid">
                            <div class="row">
                                <!-- <div class="k-content__datepicker"> -->
                                <div class="col-5">
                                    <kendo-datepicker
                                        class="bid-datepicker"
                                        [(value)]="value1"
                                        [popupSettings]="{ popupClass: popupClass }"
                                    ></kendo-datepicker>
                                    <kendo-datepicker
                                        class="bid-datepicker"
                                        [(value)]="value2"
                                        [popupSettings]="{ popupClass: popupClass }"
                                    ></kendo-datepicker>
                                    <!-- <kendo-daterange class="bid-datepicker">
                                        <label class="bid-datepicker__label">
                                            <span class="bid-datepicker__label-txt">Start Date</span>
                                            <kendo-dateinput kendoDateRangeStartInput DateRangePopupComponent
                                                [(value)]="range.start"
                                                [format]="'d MMM y'"
                                                class="prueba"
                                            >
                                            </kendo-dateinput>
                                        </label>
                                        <label class="bid-datepicker__label">
                                            <span class="bid-datepicker__label-txt">End Date*</span>
                                            <kendo-dateinput kendoDateRangeEndInput
                                                [(value)]="range.end"
                                                [format]="'d MMM y'"
                                            ></kendo-dateinput>
                                        </label>
                                        <kendo-daterange-popup
                                            [appendTo]="'component'"
                                        ></kendo-daterange-popup>
                                    </kendo-daterange> -->
                                </div>
                                <!-- <div class="k-content__col"> -->
                                <div class="col-5">
                                    <div>
                                        <input id="period" type="checkbox" kendoCheckBox class="t-margin-right-small bid-checkbox__input"/>
                                        <label for="period" class="bid-checkbox__label">Shortened or Extended Circulation Period</label>
                                    </div>
                                    <div>
                                        <p class="bid-checkbox__info">Here goes an explanation of what “Extend or Shorten Circulation Period” means</p>
                                    </div>
                                </div>
                                <!-- <div class="k-content__col"> -->
                                <div class="col-2">
                                    <div class="text-right">
                                        <span class="d-block txt--small txt--black txt--italic">Circulation Period will consist of:</span>
                                        <span class="txt--xlarge txt--bold txt--black">5 days</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <span class="d-block txt--bold txt--xxlarge txt--black">Do you need a Face to face Meeting?</span>
                                    <span class="d-block txt--italic t-margin-bottom-xlarge">Here goes an explanation of what “Face to Face Meeting means”</span>
                                    <kendo-switch
                                        [onLabel]="'YES'"
                                        [offLabel]="'NO'"
                                        class="k-switch--big"
                                    ></kendo-switch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
