<div class="container">
    <div>
        <h1>Error Handler</h1>
        <p>P&aacute;gina de ejemplo donde mostraremos como trataremos los distintos tipos de erorres
            que se pueden produccir dentro de la aplicaci&oacute;n: Errores de con API Rest y errores internos
            en el cliente</p>
    </div>
    <div class="mt-2">
        <h3>Errores 404: Page not found</h3>
        <p>Hemos creado una p&aacute;gina de p&aacute;gina no encontrada a la cual se redirige si intentamos acceder a una ruta no existente:</p>
        <a class="btn w-100 btn-danger" href="/pagina-no-existente">Enlace a p&aacute;gina no existente</a>
    </div>
    <div class="mt-2">
        <h3>Errores 404: API Rest</h3>
        <p>Cuando llamamos a una API Rest y obtenemos un 404 de respuesta</p>
        <button class="btn w-100 btn-danger" (click)="showNotFoundError()">Llamada API con 404</button>
    </div>
    <div class="mt-2">
        <h3>Errores 500 en API Rest conocidos</h3>
        <p>Cuando llamamos a una API Rest y obtenemos un 500 de respuesta con un codigo interno de error propio de negocio</p>
        <button class="btn w-100 btn-danger" (click)="show500Errorknow()">Llamada API con Error 500 conocido</button>
    </div>
    <div class="mt-2">
        <h3>Errores 500 en API Rest desconocidos</h3>
        <p>Cuando llamamos a una API Rest y obtenemos un 500 de respuesta sin codigo de error de negocio</p>
        <button class="btn w-100 btn-danger" (click)="show500ErrorUnknow()">Llamada API con Error 500 desconocido</button>
    </div>
    <div class="mt-2 t-margin-bottom-xxlarge">
        <h3>Notificaciones</h3>
        <div class="d-flex">
            <button class="btn w-100 mr-3 btn-success" (click)="showSuccess()">Success not.</button>
            <button class="btn w-100 mx-3 btn-info" (click)="showInfo()">Info not.</button>
            <button class="btn w-100 mx-3 btn-warning" (click)="showWarning()">Warning not.</button>
            <button class="btn w-100 ml-3 btn-danger" (click)="showDanger()">Error not.</button>
        </div>
    </div>
</div>
