<kendo-dialog
    title="{{ title }}"
    *ngIf="opened"
    [minWidth]="250"
    [width]="840"
    [minHeight]="340"
    class="k-dialog-wrapper k-dialog-wrapper--no-close"
>
    <p [innerHTML]="'PPR_STEPZERO_SUBTITLE' | translate"></p>

    <div
        class="bid-message bid-message--warning t-margin-top-large t-margin-bottom-large d-flex"
        *ngIf="true"
    >
        <p class="bid-message__content">
            In order to start the process, please select a Life Cycle template.
        </p>
        <button class="bid-message__button" (click)="alertVisible = false">
            <span class="k-icon k-i-x"></span>
        </button>
    </div>

    <kendo-dialog-actions layout="normal">
        <button kendoButton (click)="close(true)" primary="true">
            {{ confirm }}
        </button>
    </kendo-dialog-actions>
</kendo-dialog>
