<kendo-dialog *ngIf="active" [width]="840" [height]="450" (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{'PPR_DISTRIBUTIONEDIT_HEADER' | translate}}
    </kendo-dialog-titlebar>

    <p class="t-margin-bottom-xxlarge">
        <strong class="font-weight-bold">
            {{'PPR_DISTRIBUTIONEDIT_BODY1' | translate}}
        </strong>
    </p>

    <div>
        <span class="bid-dialog__txt--small t-margin-bottom-small">{{'PPR_DISTRIBUTIONEDIT_BODY2' | translate}}</span>
        <kendo-multiselect
            [data]="listItems"
            [(ngModel)]="value"
            placeholder="{{'PPR_DISTRIBUTIONEDIT_PLACEHOLDER' | translate}}"
            [popupSettings]="{ popupClass: popupClass }"
            class="k-multiselect--users t-margin-bottom-small"
        ></kendo-multiselect>
    </div>

    <p class="bid-dialog__txt--small bid-dialog__txt--italic bid-dialog__txt--primary-light">{{'PPR_DISTRIBUTIONEDIT_BODY3' | translate}}</p>

    <kendo-dialog-actions layout="normal">
        <button kendoButton class="btn btn-link" (click)="onCancel($event)">{{'PPR_DISTRIBUTIONDELETE_BTNCANCEL' | translate}}</button>
        <button kendoButton primary="true" (click)="onSave($event)">
            {{'PPR_DISTRIBUTIONEDIT_BTNSAVE' | translate}}
        </button>
    </kendo-dialog-actions>
</kendo-dialog>
