<!-- COMPONENT HEADING PROCESS  -->
<section class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="t-padding-top-xxxlarge t-padding-bottom-small">
                <h1 class="h1">PP Select Language</h1>
                <p>The Project Team members must select the language for the package. The language can be edited until the
                    Profile Package document is uploaded.</p>
                <a href="#" alt="">
                    <span class="far fa-lightbulb pr-2"></span>
                    <span class="txt--small font-weight-bold d-inline-block">HOW-TO LINK</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- COMPONENT HEADING PROCESS  -->
<!-- DISTRIBUTION LIST -->
<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-primary" disabled>Distribution List</button>
            </div>
        </div>
    </div>
</section>
<!-- DISTRIBUTION LIST -->
<!-- SECTION LANGUAGE SELECTION  -->
<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="panelbar-wrapper">
                <kendo-panelbar>
                    <kendo-panelbar-item [title]="'DOCUMENTS LANGUAGE SELECTION'" expanded="true">
                        <ng-template kendoPanelBarContent>
                            <div>
                                <div class="row">
                                    <div class="col-8">
                                        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor <strong class="font-weight-bold">incididunt ut labore et dolore
                                                magna aliqua. Adipiscing vitae proin sagittis nisl rhoncus
                                                mattis.</strong></p>
                                    </div>
                                    <div class="col-12">
                                        <span class="txt txt--small txt--gray">Select 1 language</span>
                                        <div class="d-flex my-3">
                                            <kendo-buttongroup selection="single" class="mb-5">
                                                <button kendoButton class="text-center t-margin-right-outsize"
                                                    style="position: relative;" [toggleable]="true"
                                                    *ngFor="let lang of languages"
                                                    (click)="selectLanguage($event, lang)">{{lang.code}}
                                                    <span class="text-body font-weight-normal"
                                                        style="display: block; position: absolute; top: 3rem; left: 50%; transform: translateX(-50%);">{{lang.title}}</span>
                                                </button>
                                            </kendo-buttongroup>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-panelbar-item>
                </kendo-panelbar>
            </div>
        </div>
    </div>
</section>
<!-- SECTION LANGUAGE SELECTION  -->
<!-- COMPONENT FOOTER ACTIONS  -->
<footer class="bid-actions-footer">
    <div class="bid-actions-footer__wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" (click)="open()">Confirm language</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- COMPONENT FOOTER ACTIONS  -->

<!-- KENDO MODAL  -->
<kendo-dialog title="Confirm Language Selection" *ngIf="opened" (close)="close('cancel')" [minWidth]="250"
    [width]="840" [minHeight]="340">
    <ng-container *ngIf="selectedLanguage">
        <p>You've chosen {{selectedLanguage}} as Product Profile Package Language, once you upload the Package Document
            the
            language cannot be edited.</p>
        <p>This action cannot be undone. Would you want to continue?</p>
    </ng-container>
    <ng-container *ngIf="!selectedLanguage">
        <p>You must select any language for continue.</p>
    </ng-container>
    <kendo-dialog-actions layout="normal">
        <button kendoButton (click)="close('no')" class="btn btn-link">Cancel</button>
        <button kendoButton (click)="close('yes')" primary="true" *ngIf="selectedLanguage">Yes, Confirm</button>
    </kendo-dialog-actions>
</kendo-dialog>
<!-- KENDO MODAL  -->
