<div class="d-flex flex-wrap">
    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites xlsx"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.xlsx</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites xls"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.xls</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites ppt"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.ppt</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites pptx"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.pptx</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites doc"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.doc</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites docx"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.docx</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites vsd"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.vsd</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites vss"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.vss</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites mpp"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.mpp</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites pdf"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.pdf</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites pst"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.pst</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites pub"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.pub</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites vst"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.vst</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites vdx"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.vdx</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites vsx"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.vsx</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites vtx"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.vtx</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites wpd"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.wpd</p>
        </div>
        <div class="foot flex">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites msg"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.msg</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document">
        <div class="dropdown">
            <button class="ellipsis" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
            <div class="dropdown-menu dropdown-primary" style="width: 10rem; margin-left: -8em;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank"><i class="fas fa-exchange-alt"></i>
                            Replace</a></li>
                    <li class="list-group-item"><a href="#" target="_blank"><i class="far fa-trash-alt"></i> Delete</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="head">
            <figure class="ic-sprites"></figure>
            <div class="info">
                <span class="legend">ID</span>
                <a href="#" class="link">EZTEST-707197942-556</a>
            </div>
        </div>
        <div class="content">
            <span class="legend">NAME</span>
            <p>PR-L1147_HighRisk_20181001_1802.unknown</p>
        </div>
        <div class="foot row">
            <div class="col-6">
                <span class="legend">USER</span>
                <p>MRIBASRUIZ</p>
            </div>
            <div class="col-6">
                <span class="legend">DATE</span>
                <p>01 Oct 2019</p>
            </div>
        </div>
    </div>

    <div class="card card-document add">
        <div class="add_box">
            <i class="fas fa-plus"></i>
            <span class="legend">Add Document</span>
        </div>
    </div>

    <kendo-card [class]="'k-card--document'">
        <kendo-dropdownbutton>
            <i class="fas fa-ellipsis-h"></i>
        </kendo-dropdownbutton>
        <kendo-card-header>
            <figure class="ic-sprites pdf"></figure>
            <div class="card-header-info">
                <span class="card-label">ID NUMBER</span>
                <a href="#" class="card-ref">EZTEST-707197942-556</a>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <div class="k-hbox">
                <div class="k-column k-text-left">
                    <span class="card-label">Document Name</span>
                    <p>Project Profile - NL- L 1234</p>
                </div>
            </div>

            <div class="k-hbox">
                <div class="k-column k-text-left">
                    <span class="card-label">Type</span>
                    <p class="txt txt--bold t-margin-bottom-none">PP DOCUMENT</p>
                </div>
                <div class="k-column k-text-left">
                    <span class="card-label">Version</span>
                    <p class="txt txt--bold t-margin-bottom-none">ERM</p>
                </div>
            </div>
        </kendo-card-body>
        <kendo-card-footer>
            <div class="k-hbox">
                <div class="k-column k-text-left">
                    <span class="card-label">User</span>
                    <p class="txt t-margin-bottom-none">MRIBASRUIZ</p>
                </div>
                <div class="k-column k-text-left">
                    <span class="card-label">Uploaded on</span>
                    <p class="txt t-margin-bottom-none">01 Oct 2019</p>
                </div>
            </div>
        </kendo-card-footer>
    </kendo-card>
</div>
