<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="panelbar-wrapper">
                <kendo-panelbar>
                    <kendo-panelbar-item [title]="'DOCUMENTS'" expanded="true">
                        <ng-template kendoPanelBarContent>
                            <div
                                *ngIf="
                                    (documentCollection | async)?.length > 0;
                                    else uploadZone
                                "
                                class="d-flex flex-wrap"
                            >
                                <bid-document-item
                                    *ngFor="
                                        let doc of documentCollection
                                            | async
                                            | slice: 0:this.limit
                                    "
                                    [documentItem]="doc"
                                    [documentRestriction]="documentRestriction"
                                    [formatDate]="formatDate"
                                    [readonly]="readonly"
                                ></bid-document-item>
                                <div
                                    *ngIf="
                                        limit >
                                        (documentCollection | async).length
                                    "
                                >
                                    <ng-container
                                        *ngTemplateOutlet="uploadZone"
                                    ></ng-container>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-panelbar-item>
                </kendo-panelbar>
            </div>
        </div>
    </div>
</section>

<div kendoDialogContainer></div>

<ng-template #uploadZone>
    <bid-modal-dialog
        [modalTitle]="'Upload Document'"
        [limit]="limit"
        [documentRestriction]="documentRestriction"
        [readonly]="readonly"
    ></bid-modal-dialog>
</ng-template>
