<kendo-dialog
    title="{{ title }}"
    *ngIf="opened"
    (close)="close(false)"
    [minWidth]="250"
    [width]="840"
    [minHeight]="340"
>
    <ng-container *ngIf="!return; else elseTemplate">
        <p>
            <strong class="font-weight-bold"
                >Would you like to submit the project file package "Name of the
                document" to VPC Manager for validations?</strong
            >
        </p>
        <p>
            Once the package is submitted, manager could approve and distributor
            for ERM or return for modifications to teams
        </p>
    </ng-container>
    <ng-template #elseTemplate>
        <p>
            <strong class="font-weight-bold"
                >Would you like return the profile package "Name of the
                document" to the project team for modifications?</strong
            >
        </p>
        <p>
            Would you like to include some coments?
        </p>
        <div class="bid-textarea">
            <span class="bid-textarea__label">Comment (Optional):</span>
            <textarea
                kendoTextArea
                class="bid-textarea__input"
                (valueChange)="comments = $event"
                maxlength="{{ textAreaLimit }}"
            ></textarea>
        </div>
    </ng-template>

    <kendo-dialog-actions layout="normal">
        <button kendoButton (click)="close(false)" class="btn btn-link">
            Cancel
        </button>
        <button kendoButton (click)="close(true)" primary="true">
            {{ confirm }}
        </button>
    </kendo-dialog-actions>
</kendo-dialog>
