<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="panelbar-wrapper">
                <kendo-panelbar>
                    <kendo-panelbar-item
                        title="{{ 'PPR_SELECTLANGUAGE_TITLE' | translate }}"
                        expanded="true"
                    >
                        <ng-template kendoPanelBarContent>
                            <div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="mb-5">
                                            {{
                                                'PPR_SELECTLANGUAGE_BODY1'
                                                    | translate
                                            }}
                                            <strong class="font-weight-bold">{{
                                                'PPR_SELECTLANGUAGE_BODY2'
                                                    | translate
                                            }}</strong>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex my-3">
                                            <kendo-buttongroup
                                                selection="single"
                                                class="mb-5"
                                            >
                                                <button
                                                    kendoButton
                                                    class="text-center t-margin-right-outsize"
                                                    style="position: relative;"
                                                    [toggleable]="true"
                                                    [selected]="lang.selected"
                                                    [disabled]="readonly"
                                                    *ngFor="
                                                        let lang of languageModelList
                                                    "
                                                    (selectedChange)="
                                                        selectLanguage(
                                                            $event,
                                                            lang
                                                        )
                                                    "
                                                >
                                                    {{ lang.name | translate }}
                                                </button>
                                            </kendo-buttongroup>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-panelbar-item>
                </kendo-panelbar>
            </div>
        </div>
    </div>
</section>
