<ng-template #template let-anchor>
    <span>{{ anchor.nativeElement.innerText }}</span>
</ng-template>
<div
    kendoTooltip
    showOn="none"
    [tooltipTemplate]="template"
    (mouseover)="showTooltip($event)"
>
    <kendo-grid
        [kendoGridBinding]="gridView"
        [sortable]="true"
        (remove)="deleteHandler($event)"
        class="k-grid--list"
    >
        <ng-template kendoGridToolbarTemplate>
            <div class="k-grid-toolbar__wrapper">
                <span class="k-grid-toolbar__operation-label">{{
                    'PPR_DISTRIBUTIONLIST_OPLABEL' | translate
                }}</span>
                <span class="k-grid-toolbar__operation">{{
                    'PPR-DISTRIBUTIONLIST_OPTYPE' | translate
                }}</span>
            </div>
            <div class="k-grid-toolbar__wrapper">
                <div class="bid-textbox t-margin-right-xxxlarge">
                    <label for="searchMembers" class="hide-accessible">{{
                        'PPR_DISTRIBUTIONLIST_LABEL1' | translate
                    }}</label>
                    <input
                        #searchMembers
                        placeholder="{{
                            'PPR_DISTRIBUTIONLIST_PLACEHOLDER1' | translate
                        }}"
                        kendoTextBox
                        (input)="onFilter()"
                        [style.width]="'261px'"
                        id="searchMembers"
                        class="k-textbox"
                    />
                    <span class="bid-textbox__icon"></span>
                </div>
                <button
                    kendoGridExcelCommand
                    class="btn-secondary k-button--pdf k-button--sm"
                >
                    <i class="far fa-download bid-icon"></i>
                    <span>{{
                        'PPR_DISTRIBUTIONLIST_BTNDOWNLOAD' | translate
                    }}</span>
                </button>
            </div>
        </ng-template>
        <kendo-grid-column
            field="accountType"
            title="{{ 'PPR_DISTRIBUTIONLIST_THEADER1' | translate }}"
        ></kendo-grid-column>
        <kendo-grid-column
            field="memberId"
            title="{{ 'PPR_DISTRIBUTIONLIST_THEADER2' | translate }}"
        ></kendo-grid-column>
        <kendo-grid-column
            field="addedBy"
            title="{{ 'PPR_DISTRIBUTIONLIST_THEADER3' | translate }}"
        ></kendo-grid-column>
        <kendo-grid-command-column
            title="{{ 'PPR_DISTRIBUTIONLIST_THEADER4' | translate }}"
            width="300"
        >
            <ng-template
                kendoGridCellTemplate
                let-canDelete="dataItem.type==='AddedByUser'"
            >
                <button
                    kendoGridRemoveCommand
                    look="flat"
                    icon="delete"
                    *ngIf="canDelete && !readonly"
                >
                    {{ 'DELETE' | translate }}
                </button>
            </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-excel fileName="DistributionList.xlsx"></kendo-grid-excel>
    </kendo-grid>
</div>

<bid-add-member
    [active]="addOpen"
    (save)="saveHandler($event)"
    (closed)="closeHandler()"
>
</bid-add-member>

<bid-modal-confirm
    [active]="deleteOpen"
    [elementName]="memberToDelete?.memberId"
    (closed)="confirmDelete($event)"
></bid-modal-confirm>
