<main class="container-full">
    <div class="row">
        <div class="col-xs-12">
            <h1>Demo API: TVMaze</h1>
        </div>
    </div>
    <section class="row">
        <div class="col-xs-12">
            <input kendoTextBox />
            <!-- [(ngModel)]="query" /> -->
            <!-- <kendo-textbox-container floatingLabel="Serie">
            </kendo-textbox-container> -->
        </div>
    </section>
    <section class="row">
        <div class="col-xs-12">
            <ul>
                <li *ngFor="let item of series">{{item.show.name}} ({{item.show.type}})</li>
            </ul>
        </div>
    </section>
</main>
