<form
    [formGroup]="uploadForm"
    novalidate
    (ngSubmit)="save(uploadForm.get('files').value, uploadForm.valid)"
>
    <ng-container *ngFor="let upload of uploads$ | async"></ng-container>
    <kendo-fileselect
        formControlName="files"
        [multiple]="isMultiple"
        [restrictions]="documentRestriction"
        class="k-upload--document"
        style="--before-content: '{{ prevContent }}';--new-content: '{{
            newContent
        }}';--after-content: '{{ nextContent }}';--ext-content: '{{
            documentRestriction?.allowedExtensions
        }}';"
    >
        <kendo-upload-messages
            [dropFilesHere]="'The file extensions types that are allowed are: '"
        >
        </kendo-upload-messages>
    </kendo-fileselect>
    <div class="modal__footer">
        <button kendoButton (click)="onCancelAction()" class="btn btn-link">
            Cancel
        </button>
        <button
            kendoButton
            [disabled]="!uploadForm.valid"
            type="submit"
            primary="true"
        >
            Upload Document
        </button>
    </div>
</form>
