<form
    [formGroup]="uploadForm"
    novalidate
    (ngSubmit)="save(uploadForm.get('files').value, uploadForm.valid)"
>
    <ng-container *ngFor="let upload of uploads$ | async"></ng-container>
    <kendo-fileselect
        formControlName="files"
        [multiple]="isMultiple"
        [restrictions]="documentRestriction"
        class="k-upload--document"
        style="
        --before-content: '{{ 'PPR_UPLOADFILES_PREVCONTENT' | translate }}';
        --new-content: '{{ 'PPR_UPLOADFILES_NEWCONTENT' | translate }}';
        --after-content: '{{ 'PPR_UPLOADFILES_NEXTCONTENT' | translate }}';
        --ext-content: '{{ documentRestriction?.allowedExtensions }}';"
    >
        <kendo-upload-messages
            [dropFilesHere]="'PPR_UPLOADFILES_VALIDEXTENSIONS' | translate"
        >
        </kendo-upload-messages>
    </kendo-fileselect>
    <div class="modal__footer">
        <button kendoButton (click)="onCancelAction()" class="btn btn-link">
            {{ 'CANCEL' | translate }}
        </button>
        <button
            kendoButton
            [disabled]="!uploadForm.valid"
            type="submit"
            primary="true"
        >
            {{ 'PPR_UPLOADDOCUMENT_MODALUPLOAD' | translate }}
        </button>
    </div>
</form>
