<bid-header
    [title]="'PPR_DISTRIBUTIONLIST_HEADERTITLE'"
    [text]="'PPR_DISTRIBUTIONLIST_HEADERTEXT'"
    [link]="'#'"
    [back]="true"
>
</bid-header>
<bid-table-viewer #memberListTable [readonly]="readonly"></bid-table-viewer>
<!-- COMPONENT FOOTER ACTIONS  -->
<footer class="bid-actions-footer" *ngIf="!readonly">
    <div class="bid-actions-footer__wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <button
                            class="btn btn-secondary t-margin-right-xxlarge"
                        >
                            {{ 'PPR_DISTRIBUTIONLIST_BTNSAVE' | translate }}
                        </button>
                        <button
                            class="btn btn-primary"
                            (click)="memberListTable.addOpen = true"
                        >
                            {{ 'PPR_DISTRIBUTIONLIST_BTNADD' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
