<div class="col-lg-2">
    <p><strong>Dropdown Menu</strong></p>
    <div class="dropdown_menu">
        <span class="dropdown_menu_placeholder">Dropdown Menu <i class="fas fa-chevron-down"></i></span>
        <ul class="dropdown_menu_options">
            <li>Selected Item</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>
    </div>
</div>
<div class="row col-lg-12">

    <div class="col-lg-4">
        <p><strong>Radio Buttons</strong></p>
        <!--Radio-->
        <label class="label-radio margin_0_10_0_0">
            <input type="radio" name="radio" checked="checked" />
            <span></span>
            Label Radio
        </label>
        <label class="label-radio">
            <input type="radio" name="radio" />
            <span></span>
            Label Radio
        </label>
    </div>

    <div class="col-lg-4">
        <p><strong>Checkboxes</strong></p>
        <!--Checkbox-->
        <label class="label-check">
            <input type="checkbox" name="" />
            <span></span>
            Label Checkbox
        </label>
        <label class="label-check">
            <input type="checkbox" name="" checked="checked" />
            <span></span>
            Label Checkbox
        </label>
    </div>

    <div class="col-lg-4">
        <p><strong>Switches</strong></p>
        <!--Switch-->
        <label class="label-check switch">
            <input type="checkbox" name="" />
            <span>Yes</span>
            <span>No</span>
        </label>
    </div>

</div>
